@charset "ISO-8859-1";

*{
	background-image: url("https://www.teahub.io/photos/full/97-977563_abstract-gaming-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1378px 768px;
} 
