@charset "ISO-8859-1";
* {
    background-image: url("https://t3.ftcdn.net/jpg/02/78/42/76/360_F_278427683_zeS9ihPAO61QhHqdU1fOaPk2UClfgPcW.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 3000px 2000px;
  }