@charset "ISO-8859-1";

body{
	background-image: url("https://d1u4oo4rb13yy8.cloudfront.net/article/ccnyhwkvqu-1529566630.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: relative;
} 