@charset "ISO-8859-1";

body{
	background-image: url("https://wallpapers.com/images/hd/field-hockey-aesthetic-g7cyji2fhelfcwg4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: relative;
} 