@charset "ISO-8859-1";
.mySlides {
      display:none;
      width:100%;
      height: 550px; 
    }
   	 	
    .w3-sections{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    
    .w3-content-width{
      width: 100%;
    }
  